<h2><%= @patient.full_name %></h2>
<% if current_user.role == @patient %>
  <%= link_to "Schedule New Appointment", new_appointment_path %>
  <br>
  <%= link_to "Report New Ailment", new_ailment_path %>
  <br>
<% end %>
<br>
<h3>
  <% if current_user.role == @patient %>
    My
  <% end %>
  Upcomming Appointments:
</h3>
<% @appointments.each do |appointment| %>
  <ul>
    <li>
      <%= link_to "Dr. #{appointment.doctor.full_name}", specialty_doctor_path(appointment.doctor.specialty, appointment.doctor) %>
    </li>
    <li>
      <%= link_to appointment.scheduled_for.strftime("%A, %b. %-d, %Y @ %l:%M %P"), appointment_path(appointment) %>
    </li>
    <li>
      <%= appointment.duration_in_minutes %> min.
    </li>
    <li>
      Reason: <%= appointment.ailment.description %>
    </li>
  </ul>
<% end %>
<br>

<h3>
  <% if current_user.role == @patient %>
    My
  <% end %>
  Medical History:
</h3>
<% @ailments.each do |ailment| %>
  <ul>
    <li>
      <%= ailment.description %>
    </li>
    <% if ailment.resolved_status == false %>
      <li>
        Status: This ailment has persisted for <%= ailment.time_since_first_noticed %>.
      </li>
    <% else %>
      <li>
        Status: Resolved
      </li>
    <% end %>
  </ul>
<% end %>
<br>

<h3>
  <% if current_user.role == @patient %>
    My
  <% end %>
  Doctors:
</h3>
<ul>
  <% @doctors.each do |doctor| %>
    <li>
      <%= link_to "Dr. #{doctor.full_name}", specialty_doctor_path(doctor.specialty, doctor) %>
    </li>
  <% end %>
</ul>
<br>

<h3>
  <% if current_user.role == @patient %>
    My
  <% end %>
  Prescriptions:
</h3>
<% @prescriptions.each do |prescription| %>
  <ul>
    <li>
      <%= prescription.drug %>
    </li>
    <li>
      <%= prescription.dosage_in_milligrams %> mg
    </li>
    <li>
      Reason: <%= prescription.appointment.ailment.description %>
    </li>
    <li>
      Prescribed by <%= link_to "Dr. #{prescription.appointment.doctor.last_name}", specialty_doctor_path(prescription.appointment.doctor.specialty, prescription.appointment.doctor) %> on <%= link_to prescription.appointment.scheduled_for.strftime("%b. %-d, %Y"), appointment_path(prescription.appointment) %>
    </li>
  </ul>
<% end %>
<br>
<br>
<%= link_to "All Medical Specialties", specialties_path %>
<br>
<%= link_to "All Registered Physicians", doctors_path %>
