<h2><%= @doctor.full_name %>, M.D.</h2>
- <%= link_to @doctor.specialty.name, specialty_path(@doctor.specialty) %>
<ul>
  <li>
    Dr. <%= @doctor.last_name %> has been in practice for <%= @doctor.years_in_practice %> years
  </li>
  <li>
    Location: <%= @doctor.location_city %>
  </li>
</ul>
<br>
<%= link_to "All Doctors", doctors_path %>
