<h4><%= @doctor.full_name %>, M.D.</h4>
- <%= @doctor.specialty.name %>
<ul>
  <li>
    Dr. <%= @doctor.last_name %> has been in practice for <%= @doctor.years_in_practice %> years
  </li>
  <li>
    Location: <%= @doctor.location_city %>
  </li>
</ul>
<br>
<%= link_to "All Doctors", doctors_path %>
