<!DOCTYPE html>
<html>
  <head>
    <title>MedicalDirectoryFinalRailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <i><h1>Ben's Medical Directory</h1></i>
    <% if logged_in? %>
      <p>
        - Signed-in as:
        <% if current_user.role_type == "Doctor" %>
          <%= link_to current_user.role.first_name, doctor_path(current_user) %>
        <% else %>
          <%= link_to current_user.role.first_name, patient_path(current_user) %>
        <% end %>
      </p>
    <% end %>
    <br>
    <%= yield %>
  </body>
  <footer>
    <p>
      ________________________________________________________________
      <br>
      <%= link_to "Home", root_path %> | <%= link_to "About", about_path %><% if logged_in? %>
         | <%= link_to "Log Out", logout_path, method: "delete" %>
      <% end %>
       | &copy Ben's Medirect 2018
    </p>
  </footer>
</html>
